
$cambridge-blue: #05668d;
$taupe-gray: #38ef7d;
$light-green: #11998e;
$pale-turquoise: #ebf2fa;
$dim-gray: #ff1654;
$black: #222;
$gradientcolor-1: $light-green;
$gradientcolor-2: $taupe-gray;

html {
  height: 100%;
}
body {
  background-color: #fff;
  color: $black;
  height: 100%;
}

#container {
   min-height:100%;
   position:relative;
}

#main {
   padding-bottom:60px;   /* Height of the footer */
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#fff;
   padding: 1rem;
   color: $taupe-gray;

   a {
     color: $taupe-gray;
     margin-right: 10px;
     &:hover {
       color: lighten($taupe-gray, 20%);
     }
   }
}

.gradient {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  background: #000000;
}

.navbar-brand {
  color: $pale-turquoise;
  &:hover {
    color: darken($pale-turquoise, 10%);
  }
}

.nav-link {
  color: $pale-turquoise;

  &:hover {
    color: darken($pale-turquoise, 10%);
  }
}

.navbar-dark .nav-item {
  &.active {
    .nav-link {
      color: $taupe-gray;
    }
  }
}

.navbar-dark .navbar-toggler {
  border: none;
}

.btn-outline-info {
  position: relative;
  color: $light-green;
  z-index: 1;
  border: none;

  &:hover {
    color: #fff;
    border: none;
    &::after{
      content: "";
     position: absolute;
     z-index: -1;
     top: 2px;
     left: 2px;
     right: 2px;
     bottom: 2px;
     background: transparent;
     border-radius: 3px;
   }

  }
  &:after{
    content: "";
   position: absolute;
   z-index: -1;
   top: 2px;
   left: 2px;
   right: 2px;
   bottom: 2px;
   background: #000000;
   border-radius: 3px;
  }
  &:before {
    content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border-radius: 4px;
   background: #11998e;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.btn-primary {
  background-color: transparent;
  color: $light-green;
  border-color: $light-green;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    background-color: $light-green;
    border-color: darken($light-green, 5%);
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  }
}

.btn-round {
  display:block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid $light-green;

}

.progress-bar {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.navbar-brand {
  img {
    width: 50px;
    margin-right: 10px;
  }
}
