<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">View:</p>
    <h1 class="display-3"><%= @page_title = "Create Transaction" %></h1>
  </div>
</div>
<div class="container">
  <div class="form-signin">
    <%= render 'form', transaction: @transaction %>
  </div>
</div>
