
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Gotta Budget</h1>
      <p class="lead">Simple Budget app to allocate your spending and track where your money is going. </p>
      <hr class="my-4">
      <p class="lead">
        <%= link_to("Sign Up", new_user_path, :class => 'btn btn-outline-info btn-lg') %>
      </p>
    </div>

  </div>

<div class="container">
  <h1>Easy as </h1>
</div>
